force-app/main/default/flows/Resource_Resource_Allocation_Validation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Current_Allocation</name>
        <label>Add Current Allocation</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Total_Allocation_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondAllocationCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Allocation_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Total_Allocation</name>
        <label>Calculate Total Allocation</label>
        <locationX>270</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Total_Allocation_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Total_Allocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_User_Resources</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Show_Allocation_Limit_Error</name>
        <label>Show Allocation Limit Error</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <customErrorMessages>
            <errorMessage>{!Errormessage}</errorMessage>
            <fieldSelection>Allocation_Percentage__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Allocation_Limit</name>
        <label>Check Allocation Limit</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Allocation_Percentage_Greater_Than_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Allocation_Percentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Allocation_Limit_Error</targetReference>
            </connector>
            <label>Total_Allocation_Percentage Greater Than 100</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>firstAllocationCalculation</name>
        <dataType>Number</dataType>
        <expression>{!Total_Allocation_Percentage}+{!Loop_Through_User_Resources.Allocation_Percentage__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>secondAllocationCalculation</name>
        <dataType>Number</dataType>
        <expression>{!Total_Allocation_Percentage}+{!$Record.Allocation_Percentage__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Updated_Total_Allocation</name>
        <dataType>Number</dataType>
        <expression>{!Total_Allocation_Percentage} + {!Loop_Through_User_Resources.Allocation_Percentage__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Resource]Resource Allocation Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Resource]Resource Allocation Validation</label>
    <loops>
        <name>Loop_Through_User_Resources</name>
        <label>Loop Through User Resources</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_All_Resources_for_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Total_Allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Current_Allocation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Resources_for_User</name>
        <label>Get All Resources for User</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_User_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Resources_for_User</targetReference>
        </connector>
        <object>Resource__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Errormessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>User is over-allocated! Total allocation exceeds 100%</text>
    </textTemplates>
    <variables>
        <name>Total_Allocation_Percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
